<p>You are buying tickets for <%=h @event.name %>, priced at &pound;<%= @event.cost / 100 %> each.</p>
<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <% @unpaid_punters.each do |p| %>
    <div class="ticket-form-field">
      <input id="order_punter_<%= p.id %>" name="order_punter[<%= p.id %>]" type="checkbox" value="1" <%= @order_punters.include?(p.id) ? 'checked="yes"' : '' %></input>
      <label for="order_punter_<%= p.id %>">
        <%=h p.name_with_email %>
        <%= p == @punter ? "- that's you" : '' %>
        <%= p.has_ordered_ticket? ? '<i>(ticket on order, not paid yet)</i>' : '' %>
      </label>
    </div>
  <% end %>
  <p>Kids under 12 years or younger come free! How busy have you been in the sack? <%= f.select 'children', @children_select %> sprogs</p>
  <p>
    <%= f.submit 'Do it!' %>
  </p>
<% end %>

<p>Want to buy tickets for people not on this list? <%= link_to 'Invite them here!', user_show_path, :class => 'jfri' %></p>
