<h2>[ #<%= @order.id %> ] <%= "#{pluralize(@order.tickets.length, 'ticket')} (#{@order.state})" %></h2>

<%= render :partial => 'form' %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
