<h1>Ordering of the tickets. No - we're done!</h1>

<% unless @unpaid_punters.empty? %>
  <h2>People you might want to buy tickets for</h2>
  <ul>
    <% @unpaid_punters.each do |p| %>
      <li>
        <%=h p.name_with_email %>
        <%= p == @punter ? "- that's you" : '' %>
        <% if p.has_ordered_ticket? %>
          <% if p.has_ordered_ticket_by_punter?(@punter) %>
            <span class="note">(You've ordered this ticket, but not paid for it yet.)</span>
          <% else %>
            <span class="note">(Someone else has ordered this ticket, but not paid for it yet)</span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @paid_punters.empty? %>
  <h2>These people you know already have tickets</h2>
  <ul>
    <% @paid_punters.each do |p| %>
      <li><%=h p.name_with_email %></li>
    <% end %>
  </ul>
<% end %>

<p>Want to buy tickets for people not on this list? Use the form below!</p>

<% if @punter.orders.empty? %>
  <p>You haven't ordered any tickets this year.</p>
<% else %>
  <h2>Your orders</h2>
  <ul>
    <% @punter.orders.each do |o| %>
      <% if o.new? %>
        <li>[ #<%= o.id %> ] <%= link_to "#{pluralize(o.tickets.length, 'ticket')} (new)", order_path(o) %></li>
      <% elsif o.confirmed? %>
        <li>[ #<%= o.id %> ] <%= link_to "#{pluralize(o.tickets.length, 'ticket')} (confirmed, not paid)", order_path(o) %></li>
      <% elsif o.paid? %>
        <li>[ #<%= o.id %> ] <%= link_to "#{pluralize(o.tickets.length, 'ticket')} (paid)", order_path(o) %></li>
      <% else %>
        <li>[ #<%= o.id %> ] <%= "#{pluralize(o.tickets.length, 'ticket')} (#{o.state})" %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if false %>
<% if @punter.unpaid_ticket_candidates.length > 0 %>
  <p>There's <%= pluralize(@punter.unpaid_ticket_candidates.length, 'person') %> you can buy tickets for. Why not <%= link_to 'order some tickets!', new_order_path, :class => 'jfri' %></p>
<% else %>
  <p>If you're still desperate to give us your money, you best <%= link_to 'invite', user_show_path, :class => 'jfri' %> some more people!</p>
<% end %>

<%= render :partial => 'punter/invitee' %>

<p>Concessions are available to handy helpers...email for details <a href="mailto:site@thelongestday.net">site@thelongestday.net</a></p>

<% end %>
<ul class="nav">
  <li><a href="/">Return to site</a>.</li>
</ul>
