<h2>[ #<%= @order.id %> ] <%= "#{pluralize(@order.tickets.length, 'ticket')} (#{@order.state})" %></h2>
<ul>
  <% @order.tickets.each do |t| %>
    <li><%=h t.punter.name_with_email %> - <%=h t.event.name %> @ &pound;<%= t.cost / 100 %></li>
  <% end %>
</ul>
<p>This order includes <%= pluralize @order.children, 'kids'%> under 12 years old or younger (free).</p>
<p>The total cost of this order is &pound;<%= @order.total_cost / 100 %>.</p>

<ul class="nav">
  <% if @order.new? %>
    <li><%= button_to 'Confirm and pay', confirm_order_path(@order), :method => :post %></li>
    <li><%= button_to 'Edit', edit_order_path(@order), :method => :get  %></li>
    <li><%= button_to 'Cancel', order_path(@order), :confirm => 'Sure, eh?', :method => :delete %></li>
  <% elsif @order.confirmed? %>
    <li><%= render :partial => 'paypal_button' %> <span style="font-size: smaller;">(Paypal will open in a new window)</span></li>
    <li><%= button_to 'Cancel', order_path(@order), :confirm => 'Sure, eh?', :method => :delete %></li>
  <% elsif @order.paid? %>
    <li>This order is paid for. Wonderful. We'll issue tickets closer to the day, and drop you mail to say when.</li>
  <% elsif @order.cancelled? %>
    <li>This order has been cancelled. Nothing to see here.</li>
  <% end %>
</ul>

<div class="lame-excuse">
  <p class="attento">Attento!</p>
  <img src="http://site.thelongestday.net/images/whoareyou/small-andreas.png" alt="Andreas" width="50"/>
  <p>To avoid the glare of the world's media and law enforcement we've cunningly not named our Paypal account "The Longest Day".<br />
  Instead we've called it "Andreas Stoker". They'll never guess. You know Andreas, he's this chap.</p>
  <p>Don't let this curveball give you the fear when it comes to paying up the moolah!</p>
</div>

<ul class="nav">
  <li><a href="/">Return to site</a>.</li>
  <li><%= link_to 'View', orders_path %> your orders.</li>
</ul>
