<h2>[ #<%= @order.id %> ] <%= "#{pluralize(@order.tickets.length, 'ticket')} (#{@order.state})" %></h2>
<ul>
  <% @order.tickets.each do |t| %>
    <li><%=h t.punter.name_with_email %> - <%=h t.event.name %> @ &pound;<%= t.cost / 100 %></li>
  <% end %>
</ul>
<p>The total cost of this order is &pound;<%= @order.total_cost / 100 %></p>

<ul class="nav">
  <% if @order.new? %>
    <li>This order is still funky fresh, and can be <%= link_to 'changed', edit_order_path(@order) %></li>
    <li>Even better, you could <%= link_to 'confirm and pay', confirm_order_path(@order), :method => :post %> it!</li>
    <li>If you no longer like us you might <%= link_to 'cancel', order_path(@order), :confirm => 'Sure, eh?', :method => :delete %> it.</li>
  <% elsif @order.confirmed? %>
    <li>You've confirmed this order. Great. <%= render :partial => 'paypal_button' %></li>
    <li>If you want to change something on this order you'll have to  <%= link_to 'cancel', order_path(@order), :confirm => 'Sure, eh?', :method => :delete %> it and start again (classy eh?)</li>
  <% elsif @order.paid? %>
    <li>This order is paid for. Wonderful.</li>
  <% elsif @order.cancelled? %>
    <li>This order has been cancelled. Nothing to see here.</li>
  <% end %>

  <li><a href="/">Return to site</a></li>
  <li>Or maybe <%= link_to 'back', orders_path %> to your orders.</li>
  <li>Final offer: <%= link_to 'back', user_show_path %> to your user page.</li>
</ul>
