<h2>[ #<%= @order.id %> ] <%= "#{pluralize(@order.tickets.length, 'ticket')} (#{@order.state})" %></h2>
<ul>
  <% @order.tickets.each do |t| %>
    <li><%=h t.punter.name_with_email %> - <%=h t.event.name %> @ &pound;<%= t.cost / 100 %></li>
  <% end %>
</ul>
<p>The total cost of this order is &pound;<%= @order.total_cost / 100 %>.</p>

<ul class="nav">
  <% if @order.new? %>
    <li>This order is still funky fresh, and can be <%= link_to 'changed', edit_order_path(@order) %>.</li>
    <li>Even better, you could <strong><%= link_to 'confirm and pay', confirm_order_path(@order), :method => :post %></strong> it!</li>
    <li>If you no longer like us you might <%= link_to 'cancel', order_path(@order), :confirm => 'Sure, eh?', :method => :delete %> it.</li>
  <% elsif @order.confirmed? %>
    <li>You've confirmed this order. Now you need to <%= render :partial => 'paypal_button' %></li>
    <li>If you want to change something on this order you'll have to  <%= link_to 'cancel', order_path(@order), :confirm => 'Sure, eh?', :method => :delete %> it and start again (classy eh?)</li>
  <% elsif @order.paid? %>
    <li>This order is paid for. Wonderful. We'll issue tickets closer to the day, and drop you mail to say when.</li>
  <% elsif @order.cancelled? %>
    <li>This order has been cancelled. Nothing to see here.</li>
  <% end %>
</ul>

<div class="lame-excuse">
  <p class="attento">Attento!</p>
  <img src="http://site.thelongestday.net/images/whoareyou/small-andreas.png" alt="Andreas" width="50"/>
  <p>To avoid the glare of the world's media and law enforcement we've cunningly not named our Paypal account "The Longest Day".<br />
  Instead we've called it "Andreas Stoker". They'll never guess. You know Andreas, he's this chap.</p>
  <p>Don't let this curveball give you the fear when it comes to paying up the moolah!</p>
</div>

<ul class="nav">
  <li><a href="/">Return to site</a>.</li>
  <li><%= link_to 'View', orders_path %> your orders.</li>
</ul>
