<div class="form">
  <% form_for :punter, @punter, :url => { :action => :login }, :html => { :class => :punter_form } do |f| %>
    <div class="form-field"><%= f.label :email %><%= f.text_field :email %></div>
    <div class="form-field"><%= f.label :password %><%= f.password_field :password %></div>
    <div><%= submit_tag "Login", {:class => "form-submit"} %></div>
  <% end %>
</div>

<p>Click <%= link_to 'here', :action => :reset %> if you have forgotten your password.</p>

<p>Problems? Please mail <font face="courier"><a href="mailto:site@thelongestday.net">site@thelongestday.net</a></font></p>

<p>This year TLD ticketing is done by invitation. We're inviting everyone
on our mailing list and everyone who had a ticket last year.</p>

<p>Invitees will receive an email with sign-up details. Once signed up
they can go on to invite other friends too. We'll let you know if you're
inviting someone that's already accepted their invitation.</p>

<p>This gives us a handle on who's coming and keeps it all in the happy
family.</p>

<p>You can buy yourself, your invitees, and even the person that invited
you a ticket. You're weclome to repeat the invite, order and buy cycle
as many times as they like!</p>

<p>Payment is done via Paypal. You do not need a Paypal account to buy
tickets, you can just use your credit card. You'll receive a receipt
from both us and Paypal, and will let all the people you bought tickets
for know.</p>

<p>Tickets will be issued via the website nearer the event. We'll drop
ticket holders an email letting them know when they can pick up their
tickets.</p>

