<h1><%=h @punter.name_with_email %></h1>
<h2>You were invited by</h2>
<ul>
  <% @punter.inviters.each do |i| %>
    <li><%=h i.name_with_email %></li>
  <% end %>
</ul>

<h2>People you have invited</h2>
<ul>
  <% @punter.invitees.each do |i| %>
    <li>
    <%=h i.name_with_email %>
    </li>
  <% end %>
</ul>

<% if @punter.orders.empty? %>
  <p>You haven't ordered any tickets this year.</p>
<% else %>
  <h2>Your orders</h2>
  <ul>
    <% @punter.orders.find_all { |o| o.paid? }.each do |o| %>
      <% if o.new? %>
        <li>[ #<%= o.id %> ] <%= link_to "#{pluralize(o.tickets.length, 'ticket')} (new)", order_path(o) %></li>
      <% elsif o.confirmed? %>
        <li>[ #<%= o.id %> ] <%= link_to "#{pluralize(o.tickets.length, 'ticket')} (confirmed, not paid)", order_path(o) %></li>
      <% elsif o.paid? %>
        <li>[ #<%= o.id %> ] <%= link_to "#{pluralize(o.tickets.length, 'ticket')} (paid)", order_path(o) %></li>
      <% else %>
        <li>[ #<%= o.id %> ] <%= "#{pluralize(o.tickets.length, 'ticket')} (#{o.state})" %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @punter.has_paid_ticket? %>
  <p><span class="jfri">You're ticketed up, yay!</span> Tickets will be issued from this website soon, we'll send you a mail.</p>
  <p>Tickets are no longer on sale. <span class="jfri">Mail <a href="mailto:site@thelongestday.net">site@thelongestday.net</a> to enquire further</span>.</p>
<% else %>
  <p>Tickets are no longer on sale. <span class="jfri">Mail <a href="mailto:site@thelongestday.net">site@thelongestday.net</a> to enquire further</span>.</p>
<% end %>

<ul>
  <li><a href="/">Return to site</a></li>
  <li><%= link_to 'Change password', :action => :edit %></li>
</ul>
