<p>Tickets are no longer on sale. <span class="jfri">Mail <a href="mailto:site@thelongestday.net">site@thelongestday.net</a> to enquire further</span>.</p>
<p>You're very welcome to sign up anyway, then we can keep you informed about other awesome stuff we do.</p>
<p>Fill in the form below and we'll send you a mail, please follow the link in the mail to complete your sign up.</p>
<div class="form">
  <h2>Sign up!</h2>
  <p><strong>Note:</strong> If possible please <span class="jfri">avoid using Hotmail addresses</span>. Hotmail have taken to silently discarding our mails or pretending your friends don't exist. Please try an alternative address if your mate has one. If not, give the Hotmail address a go anyway, they work sometimes.</p>
  <% form_for :invitee, @invitee,  :url => { :action => :invite_self } do |f| %>
    <%= f.error_messages :header_message => 'Computer says no!', :message => 'Please fix the following:' %>
    <div class="form-field"><%= f.label :name %><%= f.text_field :name %></div>
    <div class="form-field"><%= f.label :email %><%= f.text_field :email %></div>
    <%= submit_tag "Sign up" %>
  <% end %>
</div>
 
