<%= link_to 'Punters', :controller => 'admin/punter' %>
<%= link_to 'PaypalLog', :controller => 'admin/paypal_log' %>
<%= link_to 'Ticket CSV', :controller => 'admin/admin', :action => 'tickets' %>

<h2>Punters</h2>
<table>
  <tr>
    <td>Total</td>
    <td align="right"><%= @punter_stats[:total] %></td>
  </tr>
  <tr>
    <td>New</td>
    <td align="right"><%= @punter_stats[:new] %></td>
  </tr>
  <tr>
    <td>Invited</td>
    <td align="right"><%= @punter_stats[:invited] %></td>
  </tr>
  <tr>
    <td>Confirmed</td>
    <td align="right"><%= @punter_stats[:confirmed] %></td>
  </tr>
  <tr>
    <td>Flailed with invite</td>
    <td align="right"><%= @punter_stats[:flailed] %></td>
  </tr>
</table>   

<h2>Orders</h2>
<table>
  <tr>
    <td>Total</td>
    <td align="right"><%= @order_stats[:total] %></td>
  </tr>
  <tr>
    <td>New</td>
    <td align="right"><%= @order_stats[:new] %></td>
  </tr>
  <tr>
    <td>Confirmed</td>
    <td align="right"><%= @order_stats[:confirmed] %></td>
  </tr>
  <tr>
    <td>Paid</td>
    <td align="right"><%= @order_stats[:paid] %></td>
  </tr>
  <tr>
    <td>Children</td>
    <td align="right"><%= @children %></td>
  </tr>
</table>   

<h2>Signups</h2>
<table>
  <tr>
    <td>Self signups</td>
    <td align="right"><%= @signup_stats[:total] %></td>
  </tr>
  <tr>
    <td>Tickets bought</td>
    <td align="right"><%= @signup_stats[:tickets] %></td>
  </tr>
</table>

<h2>Paid Tickets</h2>
<table>
  <tr>
    <td>Total</td>
    <td align="right"><%= @ticket_stats[:total] %></td>
  </tr>
  <tr>
    <td>Real</td>
    <td align="right"><%= @ticket_stats[:real] %></td>
  </tr>
  <tr>
    <td>Test</td>
    <td align="right"><%= @ticket_stats[:test] %></td>
  </tr>
</table>

<h2>Paypal</h2>
<table>
  <tr>
    <td>Gross</td>
    <td align="right">&pound; <%= sprintf("%.02f", @paypal_stats[:gross] / 100)%></td>
  </tr>
  <tr>
    <td>Commission</td>
    <td align="right">&pound; <%= sprintf("%.02f", @paypal_stats[:commission] / 100)%></td>
  </tr>
  <tr>
    <td>Face value of real tickets</td>
    <td align="right">&pound; <%= sprintf("%.02f", @paypal_stats[:face] / 100)%></td>
  </tr>
  <tr>
    <td>Expected balance</td>
    <td align="right">&pound; <%= sprintf("%.02f", @paypal_stats[:expected] / 100)%></td>
  </tr>
</table>

