<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=<%= Comatose.config.content_type %>"/>
    <meta name="Generator" content="Comatose"/>
    <% if @page %>
      <meta name="Keywords" content="<%= @page.keywords %>"/>
      <title>The Longest Day - <%= @page.title %></title>
    <% else %>
      <meta name="Keywords" content="<%= controller.action_name %>"/>
      <title>The Longest Day - <%= controller.action_name %></title>
    <% end %>

    <link rel="stylesheet" type="text/css" href="http://bork.thelongestday.net/tld2009.css" >
  </head>
  <body>
    <div id="short_page"> 
      <table align="center" border="0" cellpadding="0" cellspacing="10" width="1000" height="459">
        <tbody>
          <tr>
            <td valign="top" width="900" height="439">
              <div class="nav" style="text-align: right; font-size: 12px;">
                <a href="/">Home</a> |
                <% if session.has_key?(:punter_id) %>
                  <%= link_to 'Tickets', user_show_path %> |
                  <%= link_to 'Logout', logout_path %>
                <% else %>
                  <%= link_to 'Login', login_path %>
                <% end %>
              </div>
              <%= render :partial => 'layouts/flashes' -%>
              <blockquote>
                <span class="style29">
                  <%= yield %>
                </span>
              </blockquote>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
